body {
  font-family: 'Open Sans', sans-serif;
  background-color: #333;
  color:#ccc;
  padding-left: 4em;
  padding-right: 4em;
}

nav {
  background-color: #0A0A0A;
  color: #ccc;
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 125%;
  display: flex;
  justify-content: space-around;
}

p {
  padding-left: 6em;
  padding-right: 6em;
}

a {
  color: #abcdef;
}

.topnav { /*-- main navigation element --*/
  margin-top: -.25rem; /*-- uses negative margin to pull menu to top --*/
  padding-bottom: .5rem; /*-- creates a little space below nav --*/
  background-color: var(--prime);
  display: flex; /*-- creates a flex container --*/
  flex-direction: column; /*-- direction is for MOBILE screen sizes --*/
  justify-content: space-around; /*-- lays out menu items--*/
  align-items: stretch; /*-- sets menu items to fill space vertically --*/
  align-content: center; /*-- vertically aligns menu items to center --*/
  position: fixed; /*-- makes the navbar stay at the top, even when scrolling--*/
  z-index: 1000; /*-- makes navbar always sit on top--*/
  width: 100%; /*-- makes navbar occupy full width of the page --*/
}

a.nav-item {
  position: relative; /*-- overcomes negative margin in above rule --*/
  top: 4px; /*-- tweaks vertical position --*/
  text-align: center; /*-- center-aligns all text inside their boxes --*/
  padding: .75em; /*-- provides padding inside menu items --*/
  margin: auto 0; /*-- centers menu text vertically --*/
  color: #abcdef;
  transition: color 250ms ease-in-out; /*-- specifies transition, duration, and easing --*/
}
a.nav-item:hover {
  color: var(--accent);
  cursor: pointer; /*-- changes menu items to pointer on hover --*/
}
.label {
  font-size: 1rem;
}
.nav-item.trigram {
  display: none; /*-- hides trigram (hamburger menu button) by default --*/
  text-decoration: none; /*-- removes underline --*/
  font-size: 1.75em; /*-- makes much larger than normal text--*/
}
/*-- Mobile Nav Queries --*/
/*--At screens BELOW 768px, hides nav menu items and displays trigram --*/
@media screen and (max-width: 767px) {
  .topnav a, .topnav span {display: none;}
  .topnav a.trigram {display:inherit; position:absolute; right:3%; top:2%; font-size:2em; padding: .25em; background:var(--prime);}
}
/*-- At screens BELOW 768px,  rules for mobile nav--*/
@media screen and (max-width: 767px) {
  .topnav.responsive {align-items: center;} /*-- vertically centers--*/
  .topnav.responsive a, .topnav.responsive span {display:inherit;} /*-- makes trigram visible --*/
  .topnav.responsive a:first-child {margin-top:1em;} /*-- adds space above first item --*/
  .topnav.responsive a:not(:last-child) {display:inherit; padding-top:1em;} /*-- makes items visible (but not the trigram) and adds space above them--*/
  .topnav.responsive a.more {margin-bottom: 1em;} /*-- adds margin below bottom item --*/
  .topnav.responsive a.trigram {visibility:hidden; transition:none;} /*-- hides trigram when open --*/
  .topnav.responsive a.trigram:after {content:'\000D7'; visibility:visible; text-indent: -.5em;} /*-- replaces trigram sign with x-sign on mobile. --*/
}
/*-- At screens 768px and ABOVE, set normal menu defaults --*/
@media screen and (min-width: 768px) {
  .topnav {display: flex; flex-direction: row; justify-content: space-around;}
}

.form {
    text-align: center;
}

.menu-links {
  flex-basis: 66%;
  display: flex;
  justify-content: space-between;
  color: #ccc;
}

.search-bar {
  flex-basis: 33%;
  display: flex;
  justify-content: flex-end;
}

nav a {
  color: #abcdef;
}

header {
  background-color: #333;
  padding: 2em;
  color: #ccc;
}

h1, h2 {
  padding-left: 2em;
  padding-right: 2em;
  margin: 0;
  color: #fff;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

nav ol,
nav ul {
  list-style: none;
}

.splash {
  display: flex;
  justify-content: space-between;
  background-image: url("../images/desk2.jpg");
  background-repeat: no-repeat;
  padding: 10em 0;
  background-position: center;
  background-size: cover;
}

.splash-txt {
  align-self: center;
  font-size: 200%;
  flex-basis: 75%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.banner {
  display: flex;
  justify-content: space-between;
  background-image: url("../images/bandcrop.jpg");
  background-repeat: no-repeat;
  padding: 10em 0;
  background-position: center;
  background-size: cover;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}

.row {
  display: flex;
  margin-left: 250px;
  margin-right: 250px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.column {
  flex: 50%;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

article {
  display: grid;
  grid-gap: 1em;
  background-color: #333;
  border-radius: 10px;
  /*
  border-top: 1px solid #dfdfdf;
  border-left: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  */
  grid-template-areas:
  "image1 text1"
  "text2 image2"
  "image3 text3"
  "text4 image4"
  "ban1 ban1";
}

.image1 {
  grid-area:image1;
  padding: 2em 0;
  margin: 5px;
  border-bottom: 1px solid #dfdfdf;
}

.image2 {
  grid-area:image2;
  padding: 2em 0;
  margin: 5px;
  border-bottom: 1px solid #dfdfdf;
}

.image3 {
  grid-area:image3;
  padding: 2em 0;
  margin: 5px;
  border-bottom: 1px solid #dfdfdf;
}

.image4 {
  grid-area:image4;
  padding: 2em 0;
  margin: 5px;
  border-bottom: 1px solid #dfdfdf;
}

.text1 {
  grid-area:text1;
  padding: 2em 0;
  margin: 5px;
  border-bottom: 1px solid #dfdfdf;
}

.text2 {
  grid-area:text2;
  padding: 2em 0;
  margin: 5px;
  border-bottom: 1px solid #dfdfdf;
}

.text3 {
  grid-area:text3;
  padding: 2em 0;
  margin: 5px;
  border-bottom: 1px solid #dfdfdf;
}

.text4 {
  grid-area:text4;
  padding: 2em 0;
  margin: 5px;
  border-bottom: 1px solid #dfdfdf;
}

.ban1 {
  grid-area:ban1;
  padding: 2em 0;
  margin: 5px;
}

@media screen and (max-width: 767px) {
  article{
    grid-template-areas:
    "image1"
    "text1"
    "image2"
    "text2"
    "image3"
    "text3"
    "image4"
    "text3"
  }

  .column {
    width: 100%;
  }
}
